<!DOCTYPE html>
<html>

<head>
	<title>User Welcome</title>
	<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>

<body>
	<h1>User Welcome Page</h1>
	<p>Welcome to ReVind, {{ userid }}!</p>
	<p>If you found any valuables, please hand them directly to the General Office at level 1. Thank you!</p>
	
	<div>
		<h1>Found an item? Report it!</h1>
		<p><a href="{{ url_for('user_report') }}">Click here to report</a></p>
	</div>
	
	<div>
		<h1>Want to claim an item?</h1>
		<p><a href="{{ url_for('user_request') }}">Click here to claim your item!</a></p>
	</div>
	
	<div>
		<h2>List of Items Reported</h2>
		<p>U = Unclaimed, C = Claimed</p>
		<table border="1px">
			<tr>
				<th>Item Number</th>
				<th>Date Found</th>
				<th>Time Found</th>
				<th>Location Found</th>
				<th>Item Founder</th>
				<th>Item Category</th>
				<th>Item Name</th>
				<th class="item_img_url">Item Image</th>
				<th>Claimed Status</th>
				<th>Item Claimer</th>
				<th>Admin Attendee</th>
			</tr>
			{% for row in itemrecords %}
			<tr>
				<td>{{ row[0] }}</td>
				<td>{{ row[1] }}</td>
				<td>{{ row[2] }}</td>
				<td>{{ row[3] }}</td>
				<td>{{ row[4] }}</td>
				<td>{{ row[5] }}</td>
				<td>{{ row[6] }}</td>
				<td><a>{{ row[7] }}</a></td>
				<td>{{ row[8] }}</td>
				<td>{{ row[9] }}</td>
				<td>{{ row[10] }}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
</body>
</html>