<!DOCTYPE html>
<html>

<head>
	<title>User Sign In</title>
	<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>

<body>
	<h1>User Sign In Page</h1>
	<form action="{{ url_for('user_sign_in') }}" method="POST">
		<p>User ID: <input type="text" placeholder="Username" name="user_id"></p>
		<p>Password: <input type="password" placeholder="Password" name="user_pw"></p>
		<p><input type="submit" value="Sign In"></p>
		<p><a href="{{ url_for('user_sign_up')}}">Don't have an account? Create account here</a></p>
	</form>
		
</body>


</html>