<!DOCTYPE html>
<html>

<head>
	<title>User Sign Up</title>
	<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>

<body>
	<h1>User Sign Up Page</h1>
	<form action="{{ url_for('user_sign_up') }}" method="POST">
		<p>User ID: <input type="text" placeholder="User ID" name="user_id" required></p>
		<p>User Full Name: <input type="text" placeholder="Full Name" name="user_name" required></p>
		<p>Class: <input type="text" placeholder="Class" name="user_class" required></p>
		<p>Index No: <input type="text" placeholder="Index No" name="user_ind" required></p>
		<p>Year of Sign Up: <input type="text" placeholder="Year" name="user_year" required></p>
		<p>Password: <input type="password" placeholder="Password" name="user_pw" required></p>
		<p>Confirm Password: <input type="password" placeholder="Confirm Password" name="user_pw_c" required></p>
		<p><input type="submit" value="Sign Up"></p>
		<p><a href="{{ url_for('user_sign_in')}}">Already have an account? Sign in here</a></p>
	</form>
		
</body>


</html>